{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    SlideBase
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="static/css/help.css">
        <div class="slide2">
            <div class="container">
                <h1 class="text-center m-5">Виникли проблеми з використанням PresentationBase?</h1>
                <p><strong>Якщо у вас виникли проблеми з користуванням додатком, то, скоріш за все, в цьому розділі ви
                    дізнаєтеся,
                    як їх вирішити!</strong></p>
                <h2>1. Проблеми з авторизацією/реєстрацією</h2>
                <p>
                    Для повноцінного користування PresentationBase кожен користувач повинен бути зареєстрований та
                    авторизований. </p>
                <p>Для реєстрації користувач повинен натиснути на кнопку "Зареєструватися", після чого він перейде на
                    сторінку реєстрації, де йому потрібно буде коректно заповнити форму реєстрації, а саме: Ім'я,
                    Прізвище,
                    Ім'я користувача, Електронну пошту, Пароль та Підтвердження паролю. Особливу увагу користувач
                    повинен
                    звернути на пароль і виконати наступні умови:</p>

                <ul>
                    <li>Ваш пароль не повинен бути схожим на іншу вашу особисту інформацію.</li>
                    <li>Ваш пароль повинен містити щонайменше 8 символів.</li>
                    <li>Ваш пароль не може бути загальновживаним.</li>
                    <li>Ваш пароль не може бути повністю числовим.</li>
                </ul>
                <p>Для авторизації в PresentationBase користувач повинен ввести своє ім'я користувача та пароль
                    відповідно
                    до даних, які він вказав під час реєстрації.</p>
                <h2>2. Проблеми з переглядом/пошуком презентацій</h2>
                <p>Для перегляду/пошуку презентацій користувач повинен бути зареєстрований. Він має перейти на вкладку
                    "Презентації", де може бачити таблицю з усіма наявними презентаціями. Завдяки можливості регулювання
                    пагінації, користувач може зручно переглядати велику кількість презентацій. Також, за допомогою
                    рядка
                    пошуку над таблицею, користувач може здійснювати пошук презентацій за різними параметрами
                    одночасно.</p>
            </div>
        </div>
        <div class="slide3">
            <div class="container mt-4">
                <h2>3. Проблеми з додаванням презентацій</h2>
                <p>Для додавання презентацій користувач повинен бути зареєстрований. Він має перейти на вкладку "Додати
                    презентацію", де може бачити форму з полями, які необхідно заповнити, та поле, куди можна
                    перетягнути
                    або вибрати файл, який користувач хоче завантажити.</p>
                <h2>4. Проблеми з редагуванням презентацій</h2>
                <p>Для редагування презентацій користувач повинен бути зареєстрований. Він має перейти на вкладку
                    "Редагувати презентацію", де може бачити форму з полями, які можна відредагувати.</p>
                <h2>5. Підсумок</h2>

                <p>На цій сторінці ми розглянули основні проблеми, з якими користувач може зіткнутися при використанні
                    додатку PresentationBase, а також надали відповідні інструкції щодо їх вирішення:</p>
                <ol>
                    <li>Проблеми з авторизацією/реєстрацією:</li>
                    <ul>
                        <li>Переконайтеся, що ви зареєстровані та введені дані для авторизації є вірними.</li>
                    </ul>
                    <li>Проблеми з переглядом/пошуком презентацій:</li>
                    <ul>
                        <li>Впевніться, що ви увійшли до свого облікового запису. Перевірте правильність заповнення
                            критеріїв пошуку та використання фільтрів.
                        </li>
                    </ul>
                    <li>Проблеми з додаванням презентацій:</li>
                    <ul>
                        <li>Переконайтеся, що ваш обліковий запис має відповідні права на додавання презентацій.
                            Перевірте
                            формат файлу презентації та його розмір.
                        </li>
                    </ul>
                    <li>Проблеми з редагуванням презентацій:</li>
                    <ul>
                        <li>Перевірте, чи ви маєте відповідні дозволи на редагування презентації. Переконайтеся, що всі
                            зміни збережено коректно та не виникло помилок під час збереження.
                        </li>
                    </ul>
                </ol>
            </div>
        </div>

{% endblock %}