{% extends 'main/layout.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="container mt-5 signup-form">
        <div class="row justify-content-center ">

            <div class="col-md-6" id="1">
                <form method="POST" class=" p-4">
                    {% csrf_token %}
                    <h2 class="text-center mb-4">Реєстрація</h2>
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <p class="text-dark text-center">Створіть свій обліковий запис. Це безкоштовно і займе всього
                        хвилину.</p>
                    <div class="row mb-3">
                        <div class="col">
                             <input type="{{ register_form.first_name.field.widget.input_type }}" class="form-control"
                               id="{{ register_form.first_name.id_for_label }}" name="{{ register_form.first_name.html_name }}"
                               placeholder="Ім'я" required>
                        </div>
                        <div class="col">
                             <input type="{{ register_form.last_name.field.widget.input_type }}" class="form-control"
                               id="{{ register_form.last_name.id_for_label }}" name="{{ register_form.last_name.html_name }}"
                               placeholder="Прізвище" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="{{ register_form.username.field.widget.input_type }}" class="form-control"
                               id="{{ register_form.username.id_for_label }}" name="{{ register_form.username.html_name }}"
                               placeholder="Iм'я користувача" required>
                        <small class="form-text text-muted">Обов'язково. Не більше 150 символів. Букви, цифри та
                            @/./+/-/_ тільки.</small>
                    </div>
                    <div class="form-group mb-3">
                        <input type="{{ register_form.email.field.widget.input_type }}" class="form-control"
                               id="{{ register_form.email.id_for_label }}" name="{{ register_form.email.html_name }}"
                               placeholder="Eлектронна пошта" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="{{ register_form.password1.field.widget.input_type }}" class="form-control"
                               id="{{ register_form.password1.id_for_label }}"
                               name="{{ register_form.password1.html_name }}"
                               placeholder="Пароль" required>

                    </div>
                    <div class="form-group mb-3">
                        <input type="{{ register_form.password2.field.widget.input_type }}" class="form-control"
                               id="{{ register_form.password2.id_for_label }}"
                               name="{{ register_form.password2.html_name }}"
                               placeholder="Підтвердження паролю" required>
                    </div>
                    <small class="form-text text-muted">
                        <ul>
                            <li>Ваш пароль не повинен бути занадто схожим на іншу вашу особисту інформацію</li>
                            <li>Ваш пароль повинен містити щонайменше 8 символів.</li>
                            <li>Ваш пароль не може бути загальновживаним.</li>
                            <li>Ваш пароль не може бути повністю числовим.</li>
                        </ul>
                    </small>
                    <div class="form-group mb-4 text-center">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Зареєструватися</button>
                    </div>
                    <div class="text-center">У вас вже є обліковий запис? <a href="{% url 'login' %}">Авторизуйтеся</a></div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}