{% extends 'main/layout.html' %}

{% block title %}
    Додайте свою презентацію
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center m-2">Додайте свою презентацію нижче:</h1>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="formEditPres row">
                    <div class="col-lg-12 col-xl position-relative">
                        <div class="inp">
                            {% if request.user.is_superuser %}
                                <div class="form-group row">
                                    <h5 class="col-xs-4 col-md-3 d-flex align-items-center">Оцінка :</h5>
                                    <div class="col">
                                        <div class="formdb  border border-primary m-1">
                                            <input class="input" placeholder="Оцінка" type="text"
                                                   name="{{ form.rating.name }}"
                                                   id="rating">
                                            <button class="reset" onclick="resetInput(`rating`)" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                     viewBox="0 0 24 24"
                                                     stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="M6 18L18 6M6 6l12 12"></path>
                                                </svg>
                                            </button>
                                            <input type="hidden" name="search_type" value="rating">
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <input type="hidden" name="{{ form.rating.name }}" value="Не перевірено">
                            {% endif %}
                            <div class="form-group row">
                                <h5 class="col-xs-4 col-md-3 d-flex  align-items-center">Примітка :</h5>
                                <div class="col">
                                    <div class="formdb  border border-primary m-1">
                                        <input class="input" placeholder="Примітка" type="text"
                                               name="{{ form.notes.name }}"
                                               id="notes">
                                        <button class="reset" onclick="resetInput(`notes`)" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                        <input type="hidden" name="search_type" value="rating">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h5 for="{{ form.is_auto.id_for_label }}"
                                    class="col-xl-8 col-md-6 col-sm d-flex align-items-center">
                                    Автоматично
                                    визначити вміст :
                                </h5>
                                <div class="col d-flex align-items-center form-check form-switch">
                                    <input type="checkbox" name="{{ form.is_auto.name }}" class="form-check-input"
                                           id="is_auto">
                                </div>
                            </div>
                            <div class="form-group row">
                                <h5 class="col-xs-4 col-md-3 d-flex align-items-center">Вміст :</h5>
                                <div class="col">
                                    <div class="formdb  border border-primary m-1">
                                        <input class="input" placeholder="Вміст" type="text"
                                               name="{{ form.group.name }}"
                                               id="group">
                                        <button class="reset" onclick="resetInput('group')" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                        <input type="hidden" name="search_type" value="rating">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2 ">
                                    <button class="btn btn-success mt-3" type="submit" onclick="loadingWindow()">
                                        Відправити
                                    </button>
                                </div>
                            </div>

                                {% if success %}
                                    <div class="col ">
                                        <a href="{% url 'database' %}">
                                            <button type="button" class="btn btn-info mt-3">Переглянути БД</button>
                                        </a>
                                    </div>
                                {% endif %}
                                <h3 class="text-danger">{{ error }} </h3>
                                <h3 class="text-success">{{ success }}</h3>

                            <div class="textAgr col">
                                <p>Завантажуючи свою презентацію на наш сайт, ви погоджуєтеся з:
                                    <button id="myBtn" type="button">
                                        <a>Політикою конфіденційності та Умовами використання.</a></button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col align-items-center">
                        <div class="h-100 d-flex flex-column justify-content-center">
                            <label for="images" class="drop-container" id="dropcontainer">
                                <span class="drop-title">Перетягніть файли сюди</span>
                                або
                                <input type="file" id="images" name="file" required>
                            </label>
                        </div>
                    </div>


                </div>
            </form>

        </div>
    </div>

    <div id="loading-overlay" class="loading-overlay">
        <div class="load">
            <div class="loader">Завантаження...</div>
            <div class="loadtext">
                <p>
                    Ми завантажуємо та обробляємо Вашу презентацію. Будь ласка, зачекайте трохи, це може зайняти деякий
                    час. <br>Дякуємо за ваше терпіння!
                </p>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal1">
        <div class="modal-content1">
            <div class="modal-header1">
                <span class="close1">&times;</span>
                <h2>Політика конфіденційності та Умови використання.</h2>
            </div>
            <div class="modal-body1">
                <p><strong>Цей документ визначає умови, на яких ви можете завантажувати та
                    використовувати презентації на нашому веб-сайті.</strong></p>
                <p><strong>1. Ліцензія</strong></p>
                <p>1.1. Завантажуючи презентацію на наш веб-сайт, ви надаєте нам та нашим
                    користувачам невиключну, безкоштовну, світову ліцензію на використання, публічне виконання,
                    створення похідних творів, розповсюдження та публікацію цієї презентації, а також на її включення до
                    інших творів.</p>
                <p>1.2. Ви гарантуєте, що володієте всіма авторськими правами на презентацію
                    або маєте законні права на її публікацію на нашому веб-сайті.</p>
                <p>1.3. Ви погоджуєтесь, що ваша презентація може бути використана іншими
                    користувачами нашого веб-сайту в будь-яких цілях, включаючи комерційні.</p>
                <p>1.4. Ви погоджуєтесь, що наш веб-сайт не несе відповідальності за зміст
                    презентації або за будь-яку шкоду, яка може бути завдана внаслідок її використання.</p>
                <p><strong>2. Ваші права</strong></p>
                <p>2.1. Ці умови не обмежують ваше право використовувати презентацію в
                    особистих цілях.</p>
                <p>2.2. Ви можете в будь-який час видалити свою презентацію з нашого
                    веб-сайту.</p>
                <p>2.3. Якщо ви вважаєте, що ваша презентація використовується без вашої
                    згоди, ви можете повідомити нам про це.</p>
                <p><strong>3. Загальні положення</strong></p>
                <p>3.1. Ці умови регулюються та тлумачаться відповідно до законодавства
                    України.</p>
                <p>3.2. Будь-які спори, що виникають у зв&apos;язку з цими умовами,
                    вирішуються виключно судами України.</p>
                <p>3.3. Якщо будь-яке положення цих умов визнається недійсним або
                    невиконавчим, воно вважається виключеним з цих умов, а решта положень залишаються в повній силі та
                    дії.</p>
                <p><strong>Ми цінуємо ваш внесок у нашу спільноту та сподіваємося, що ви
                    будете й надалі ділитися своїми презентаціями з іншими користувачами!</strong></p>
            </div>
        </div>
    </div>

{% endblock %}